@{
    ViewBag.Title = "";
}
@model OurCounter.Models.ImageModel
<link href="~/Content/flipclock.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.0.js"></script>
<script src="~/Scripts/main.js"></script>
<h1>Merry Christmas!</h1>

<div class="container container-fluid">
    <div class="row">
        <h2>Будем вести наш счет тут!</h2>
        <div class="col-md-9">
            <div id="mainClock"></div>
            <div class="mainClockMessage"></div>
        </div>
    </div>
    <div class="row">
        <h2>Дней до конца распреда</h2>
        <div class="col-md-9">
            <div id="distributionClock"></div>
            <div class="distributionClockMessage"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Смотрим день по дате</div>
                <div class="panel-body">
                    <p>
                        <label for="ourDate">Выбираем дату</label>
                        <input type="date" id="ourDate" />
                    </p>
                    <p>
                        <label>День:</label>
                        <span id="resultDays"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Смотрим дату по дню</div>
                <div class="panel-body">
                    <p>
                        <label for="dayText">Вводим день</label>
                        <input type="number" id="dayText" />
                    </p>
                    <p>
                        <label>Дата:</label>
                        <input type="date" id="calculatedDate" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




